# Advanced Querying Mongo

Importing libraries and setting up connection

In [ ]:
from pymongo import MongoClient
client = MongoClient('mongodb://localhost:27017') #Puedes dejar el string vacío que se rellena con lo mismo
db = client.ironhack

In [ ]:
import pandas as pd

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [ ]:
# Your Code
list(db.companies.find({'name':'Babelgum'},{'name':1, '_id':0})) #1º Dict condicion 2º Dict Select

In [ ]:
list(db.companies.find()[0]) #Chuleta

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [ ]:
# Your Code
list(db.companies.find(
                    {'number_of_employees':{'$gt':5e3}}
                        ).sort('number_of_employees',1).limit(20)    
    )

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [ ]:
# Your Code
list(db.companies.find(
                        {'$or':[{'founded_year':{'$gte':2e3}},{'founded_year':{'$lte':2005}}]},
                       {'name':1, 'founded_year':1, '_id':0}
                        )
    )

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [ ]:
# Your Code
list(db.companies.find(
                        {'$and':[{'ipo.valuation_amount':{'$gt':1e8}},{'founded_year':{'$lt':2010}}]},
                       {'name':1, 'ipo':1, '_id':0}
                        )
    )

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [ ]:
# Your Code
list(db.companies.find(
                        {'$and':[{'number_of_employees':{'$lt':1e3}},{'founded_year':{'$lt':2005}}]},
                       #{'name':1, '_id':0}
                        ).sort('number_of_employees',1).limit(10)
    )

### 6. All the companies that don't include the `partners` field.

In [ ]:
# Your Code
list(db.companies.find(
                    {'partners[0]':{'$eq':None}}
                    #{}
                        )
    )

### 7. All the companies that have a null type of value on the `category_code` field.

In [ ]:
# Your Code
list(db.companies.find(
                    {'category_code':{'$eq':None}}
                    #{}
                        )
    )

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [ ]:
# Your Code
list(db.companies.find(
                        {'$and':[{'number_of_employees':{'$gte':1e2}},{'number_of_employees':{'$lt':1e3}}]},
                       {'name':1, 'number_of_employees':1, '_id':0}
                        )#.sort('number_of_employees',1)
    )

### 9. Order all the companies by their IPO price in a descending order.

In [ ]:
# Your Code
list(db.companies.find(
    #{}
    #{}
).sort('ipo.valuation_amount',-1))

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [ ]:
# Your Code
list(db.companies.find(
    #{}
    #{}
).sort('number_of_employees',-1).limit(10))

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [ ]:
# Your Code
list(db.companies.find(
    {'founded_month':{'$gt':6}}
    #{}
    ).limit(1000)
)

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.000

In [ ]:
# Your Code
list(db.companies.find(
                        {'$and':[{'acquisition.price_amount':{'$gt':1e7}},{'founded_year':{'$lt':2e3}}]},
                       #{'name':1, '_id':0}
                        )#.sort('number_of_employees',1).limit(10)
    )

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [ ]:
# Your Code
list(db.companies.find(
    {'acquisition.acquired_year':{'$gt':2010}},
    {'name','acquisition'}
    ).sort('acquisition.price_amount',-1)
)

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [ ]:
# Your Code
list(db.companies.find(
    {},
    {'name','founded_year'}
    ).sort('founded_year',-1)
)

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [ ]:
# Your Code
list(db.companies.find(
    {'founded_day':{'$lte':7}},
    #{'name','founded_year'}
    ).sort('acquisition.price_amount',-1).limit(10)
)

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [ ]:
# Your Code
list(db.companies.find(
                        {'$and':[{'category_code':'web'},{'number_of_employees':{'$gt':4e3}}]},
                       #{'name':1, '_id':0}
                        ).sort('number_of_employees',1)
    )

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [ ]:
# Your Code
list(db.companies.find(
                        {'$and':[{'acquisition.price_amount':{'$gt':1e7}},{'acquisition.price_currency_code':'EUR'}]},
                       #{'name':1, '_id':0}
                        )
    )

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [ ]:
# Your Code
list(db.companies.find(
    {'founded_month':{'$lte':4}},
    {'name','acquisition'}
    ).limit(10)
)

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code
list(db.companies.find(
                        {'$and':[{'founded_year':{'$gte':2e3}},{'founded_year':{'$lte':2010}},{'acquisition.acquired_year':{'$gte':2011}}]},
                       #{'name':1, '_id':0}
                        )
    )

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code
list(db.companies.find(
                        {'deadpooled_year':{'$ne':'null'}},
                       #{'name':1, '_id':0}
                        ).limit(1)
    )

In [ ]:
aux = db.companies.find( 
  {'$or': 
     [{'$and':[{'deadpooled_year':{'$lte':99}}, {'deadpooled_year':{'$gt':3}}]},
      {'$and':[{'deadpooled_year':{'$gte':1000}}]},#, {'deadpooled_year.value'-'founded_year.value':{'$gt':3}}]}
     ] 
   }, 
   {'name':1,'founded_year':1, 'deadpooled_year':1} 
    )
df = pd.DataFrame.from_dict(aux)

In [ ]:
df = df.dropna()

In [ ]:
df['dp_diff']= df.deadpooled_year - df.founded_year

In [ ]:
df._id[df.dp_diff>=3] #Listado de 541 empresas deadpooled después de 3 o más años desde su fundación